@import "tailwindcss";

@theme {
  --color-bd-green: #006a4e;
  --color-bd-red: #f42a41;
  --color-bd-gold: #FFD700;
  --color-bd-dark-green: #004d38;
}

body {
    font-family: 'Inter', system-ui, sans-serif;
    scroll-behavior: smooth;
    @apply bg-gray-50 text-gray-800;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.8s ease-out forwards;
}


/* ================ typewritter======================= */

.typewriterP {
  display: inline-block;          /* width control করতে দরকার */
  color: white;                     /* লেখা রঙ */
  border-right: 0px solid green;  /* blink cursor */
  white-space: nowrap;             /* এক লাইনে রাখবে */
  overflow: hidden;
  animation: typing 4s steps(var(--chars)) infinite,
             blink 0.8s step-end infinite;
  font-size: 1rem;                /* default mobile */
}

/* Responsive font size */
@media (min-width: 640px) {       /* sm */
  .typewriterP { font-size: 1.25rem; } 
}
@media (min-width: 768px) {       /* md */
  .typewriterP { font-size: 1.5rem; } 
}
@media (min-width: 1024px) {      /* lg */
  .typewriterP { font-size: 2.5rem; } 
}

@keyframes typing {
  0% { width: 0; }
  40%, 90% { width: 100%; }
  100% { width: 0; }
}
